/* 初始时隐藏，带有背景图 */



body {
    font-family: 'PingFang TC', '蘋方-繁', Medium;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.qimen-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.qimen-gate {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    Justify-content:space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.qimen-item{
      display: flex;
    flex-direction: row;
    Justify-content:space-around;
}
.shen{
font-size:18px;
}